.header-1{
  display: flex;
  height: 28px;
  background-color: $gray-1;
  

  .header-1__ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
  }  

  a{
    margin-right: 25px;
    font-size: 16px;
    font-family: "SegoeWP";
    color: rgb(255, 255, 255);
    text-decoration: none; 
  }

  a:hover{
    color: $green-1;
  } 
}

.color-header{
  background-color: #f3f3f3;
}

.header-2{
  display: flex; 
  // outline: 2px solid gold;
  justify-content: space-between;
  align-items: center;

  .header-2__logo{
    // outline: 2px solid red;
  }  

  //  ПОИСК

  .header-2__form{
    // outline: 2px solid green;
  }

  &  form {
    position: relative;
    width: 460px;
    margin: 0 auto;
  }

  & input {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border: 2px solid $green-1;
    border-radius: 5px;
    outline: none;
    background: #F9F0DA;
    color: #9E9C9C;
  }

  & .header-2__form__btn {
    font-size: 23px;
    font-family: "SegoeWPN";
    color: rgb(255, 255, 255);
    position: absolute; 
    top: 0;
    right: 0px;
    width: 125px;
    height: 40px;
    border: none;
    background: $green-1;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }

  & .header-2__form__btn:before {
    content: "";
    background-image: url(/images/icons/lupa.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
  }

  .header-2__block{
    border-right: 2px solid #c9c9c9;

    .header-2__block__your-cart{
      font-size: 23px;
      font-family: "SegoeWP";
      color: rgb(109, 109, 109);
      line-height: 1.13;

      .header-2__block__your-cart__smoll{
        font-size: 13px;

      }
    }

    .header-2__block__your-cart::before{
      content: "";
      display: inline-block;
      background-image: url(/images/icons/shope_.png);
      background-repeat: no-repeat;
      width: 27px;
      height: 29px;
      background-size: cover;
    } 

    .header-2__check__prise {
      display: inline;
      font-size: 27px;
      font-family: "SegoeWP";
      color: rgb(109, 109, 109);
      font-weight: bold;
    }

    .header-2__check__btn{
      display: inline;
      font-size: 15px;
      font-family: "SegoeWP";
      color: rgb(255, 255, 255); 
      width: 87px;
      height: 32px;
      background-color: #282828;
      border: none;
      outline: none; 
      cursor: pointer; 

      &:hover{
        background-color: $green-1;

      }
    }
  }

  .wish-list {
    font-size: 21px;
    font-family: "SegoeWP";
    color: rgb(109, 109, 109);
    line-height: 1.238;
    // position: absolute;

  }

  .wish-list::before{
    content: "";
    display: block;
    margin: 0 auto;
    background-image: url("/images/icons/star.png");
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    background-size: cover;
  } 
  
}

.menu-top{
  margin: 0px;
  padding: 0px;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;

  &__list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;

    margin: 0px;

    li{
      // border: 2px solid red;
      width: 200px;
      text-align: center;
      
    }

    .menu-top__a{
      text-decoration: none;
      font-size: 19px;
      font-family: "Segoe UI Symbol";
      color: rgb(91, 91, 91);
      display: block;
    }

    .menu-top__a:hover{
      background-color: $green-1;
      color: white;
    }
  }
}


